/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Varela Round', sans-serif;
*/
html {
    height: 100%;
}
body {
    background: #FF3539;
    user-select: none;
}
.titleSzym {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    color: #f5f5f5;
    float: left;
    margin-right: 10%;
}
.headerDiv {
    position: fixed;
    padding: 10px 16px;
    top: 0;
    width: 100%;
    background: #202020;
    margin-left: -10px;
}
#nextRight {
    margin-left: 10px;
}
.surTitle {
    text-align: center;
    color: #121212;
    margin-top: 200px;
    font-size: 60px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 8px;
}
footer{
    color:white;
    font-family: 'Varela Round', sans-serif;
    float: bottom;
}
.txtBtn {
    font-family: 'Varela Round', sans-serif;
    color: #f5f5f5;
    transition: 0.3s;
    margin-left: 3%;
    float: left;
    background: #202020;
}
.txtBtn:hover {
    color: #999999;
    cursor: pointer;
    text-decoration: underline;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.LogoImg {
    width: 100px;
    height: 100px;
}
#down {
    float:bottom;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.3%;
    float:left;
    margin-left: 13.5%;
}
.center:hover {
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
#first {
    margin-left: 27%;
}
.-text {
    text-align: center;
    color: #121212;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 8px;
}
button{
    background: #db2e30;
    border:none;
    font-family: 'Varela Round', sans-serif;
    color: whitesmoke;
    letter-spacing: 4px;
    margin-left: 47%;
}
button:hover{
    background: #9b1f21;
    cursor: pointer;
}
.sim {
    text-align: center;
    color: #222222;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 4px;
}
#longBody {
    height: 200%;
    scroll-behavior: smooth;
}
#hey {
    margin-top: 370px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
}
p{
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: #121212;
}
a {
    color:whitesmoke;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}
.gameContainer {
    background:#ad2222;
    padding: 10px;
    height: 250px;
    margin-top: 20px;
}
.gameImg {
    border: solid #121212 2px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
}
.gameTitle{
    float:bottom;
    color:whitesmoke;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
}
.gameDes {
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
}
#notsolongBody {
    height: 165%;
    scroll-behavior: smooth;
}
#end {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.3%;
    float:bottom;
    margin-top: 50px;
    margin-left: 13.5%;
}
#end:hover {
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
h4 {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
}